<h1>Create a new bee</h1>
<form action="/bumblebees" method="post">
	<input type="text" name="name" placeholder="Name here">
	<input type="text" name="job" placeholder="Job here">
	<input type="submit" value="Create Bee">
</form>